
.title {
    font-weight: 700;
    font-size: 45px;
    line-height: 67.5px;
    text-align: center; 
    margin-bottom: 40px;
}

.item {
    img {
        padding: 6px 0;
    }
}


.gallery-destop {
    display: block;
}

.gallery-mobile {
    display: none;
}

@media screen and (max-width: 640px) {

    .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        text-align: center; 
        margin-bottom: 32px;
    }

    .gallery-destop {
        display: none;
    }

    .gallery-mobile {
        display: block;
    }

    .item_mobile {
        margin-top: 8px;
    }
}
